/* DEKSTOP FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 270px;
  background-color: #000;
}
.container-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.bottom-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.button-audit-footer,
.sitemap-container-footer a,
.politique-footer a,
.copyright-footer p {
  color: #fff;
  text-decoration: none;
}
.button-container-footer a,
.sitemap-container-footer a {
  font-size: 14px;
}
.bottom-footer {
  font-size: 12px;
}
.button-audit-footer,
.button-contact-footer {
  font-weight: bold;
  text-transform: uppercase;
}
.button-audit-footer,
.button-contact-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 35px;
}
.button-audit-footer {
  background-color: #52c200;
}
.button-contact-footer {
  color: #000;
  background-color: #fff;
  text-decoration: none;
}
.socialmedia-footer a img {
  max-width: 20px;
  height: 16px;
}
